<footer>
  <div class="container">
    <div class="row">
      <div class="col col-md-5">{{ include.brand }}</div>
      <div class="col col-md-7">
        <div class="container">
          <div class="row">
            <div class="col col-md-4">{% include atoms/footer/footer-links.html links=include.links_primary %}</div>
            <div class="col col-md-4">{% include atoms/footer/footer-links.html links=include.links_secondary %}</div>
            <div class="col col-md-4">{{ include.social_links }}</div>
          </div>
        </div>
      </div>
      {% if include.copyright %}
        <div class="col col-12">
          <div class="footer-copyright-hint footer-copyright-hint-baseline">
            {{- include.copyright | escape_once | replace: "(c)", "&copy;" -}}
          </div>
        </div>
      {%- endif %}
    </div>
  </div>
</footer>
