---
title: Art'Potential
layout: page/default
permalink: /coaching/
redirect_from:
  - /
  - /coaching
in_other_languages:
  en: pages/en/index.html
  fr: pages/fr/index.html
---
{% include components/hero.html %}
<main class="content-main">
{% capture main_content_markdown %}
# Some inspiring header
and text below
{% endcapture %}
{% assign main_content = main_content_markdown | markdownify %}
{% include atoms/content/section.html content=main_content %}
{% include components/image-and-text.html %}
</main>
