{% capture footer_brand %}
{% capture language_root_page %}pages/{{ page.lang }}/index.html{% endcapture %}
{% include atoms/footer-brand.html page=language_root_page image_url="assets/svg/logo-circle.svg" %}
{% endcapture %}
{% capture footer_links_primary %}
  {% include utils/placeholder.html text="Primary Links." %}
{% endcapture %}
{% capture footer_links_secondary %}
  {% include utils/placeholder.html text="Secondary Links." %}
{% endcapture %}
{% include atoms/footer.html
  brand=footer_brand
  copyright=site.copyright
  links_primary=footer_links_primary
  links_secondary=footer_links_secondary %}
