//
// Brand Logo
//

.footer-brand {
    img {
        margin: $nav-link-padding-y;
        max-height: 150px;
    }
}

.footer-copyright-hint {
    padding-left: $nav-link-padding-y;
}

//
// Baseline Grid
//

.footer {
    margin-top: span-baseline-rows(2, end);
}

.footer-copyright-hint-baseline {
    padding-top: calc($baseline-line-height * 1rem);
    line-height: calc($baseline-line-height * 1rem);
}

.footer-social-link-large {
    display: inline-block;
    font-size: 2em;
    margin-right: 0.5em;
}

//
// Color, Fonts and Theming
//

.footer-copyright-hint {
    color: #bbbbbb;
    font-size: 0.8rem;
}
