//
// Color, Fonts and Theming
//

.content-main {
    margin-top: -2px;
    border-top: 1px solid rgb(211, 211, 211);
}

.content-main::before {
    content: "";
    display: block;
    border-top: 1px solid rgb(170, 170, 170);
    margin-bottom: 50px;
}
