// The golden ratio Φ (phi) = (a+b)/a = a/b
$phi: 1.61803398875;

@at-root {
    $base: calc(20px / 1440px * 100vw);

    $outer-right: $base;
    $outer-left: $base * 2;

    $inner-left: $outer-left * 1.375;
    $inner-right: $inner-left * 1.375;
    $spacing: $inner-right * 1.375;

    $deep-background-color: #d3d3d34f;
    $background-color: white;

    .content-image-and-text,
    .content-text-and-image {
        &.content-baseline {
            padding-top: 0;
            padding-bottom: 0;

            .content-container {
                padding-top: span-baseline-rows(1, end);
                padding-bottom: span-baseline-rows(1, start);
            }
        }
    }

    .content-image-and-text,
    .content-text-and-image {
        .content-container {
            display: flex;

            .image {
                flex: 7;
                flex: calc($phi - 1/$phi/$phi/$phi/$phi);
                background: lightgray var(--image);
                background-size: cover;
                height: 570px;
            }

            .gap {
                flex: 1;
                flex: calc(1/$phi/$phi/$phi/$phi);
                width: 0px;
            }

            .text {
                flex: 4;
                flex: 1;
                background: gray;
            }
        }
    }

    .content-text-and-image {
        .content-container {
            .image {
                order: 3;
            }

            .gap {
                order: 2;
                flex: 0 $inner-right;
            }

            .text {
                order: 1;
            }
        }
    }
}
