$kapakana-font-display: block;

@font-face {
    font-family: 'Kapakana Regular';
    font-style: normal;
    font-weight: normal;
    font-display: $kapakana-font-display;
    src: local('Kapakana Regular'), url('../fonts/kapakana/kapakana.woff') format('woff');
}
