// Usage: Refer to this font via "font-family: $font-kapakana"
$kapakana-font-display: block;
$kapakana-font-name: 'Kapakana Regular';
$font-kapakana: $kapakana-font-name;

@font-face {
    font-family: $kapakana-font-name;
    font-style: normal;
    font-weight: normal;
    font-display: $kapakana-font-display;
    src: local('Kapakana Regular'), url('../fonts/kapakana/kapakana.woff') format('woff');
}
